/* Estiliza o contêiner do cabeçalho */
.header .container {
  justify-content: space-between; /* Distribui os itens igualmente */
  align-items: center; /* Alinha os itens ao centro */
}

/* Estiliza o cabeçalho */
.header {
  margin-top: -163px; /* Define a margem superior negativa */
  position: fixed; /* Fixa o cabeçalho no topo */
  width: 100%; /* Define a largura como 100% */
  background: #ffb619; /* Define a cor de fundo */

  z-index: 2000; /* Define a ordem na pilha de elementos */
}

/* Define o tamanho máximo inicial do logotipo */
.logo {
  max-width: 110px;
}

/* Estiliza o menu */
.menu {
  display: flex; /* Exibe os itens em linha */
}

/* Adiciona margem à esquerda dos itens subsequentes */
.menu li + li {
  margin-left: 40px;
}

/* Estiliza os links do menu */
.menu li a,
.menu-footer li a {
  text-decoration: none; /* Remove o sublinhado */
  color: var(--primary); /* Define a cor do texto */
  font-weight: 700; /* Define o texto como negrito */
  text-transform: uppercase; /* Transforma o texto em maiúsculas */
  padding: 10px; /* Adiciona espaçamento interno */
}

/* Adiciona efeito de hover nos links do menu */
.menu li a:hover, .menu-active, .menu-footer li a:hover {
  background: var(--secundary); /* Altera a cor de fundo ao passar o mouse */
  transition: 0.3s; /* Adiciona transição suave */
}

/* Esconde o item do menu mobile por padrão */
.item-menu-mobile {
  display: none;
}

/* Estiliza o link do item de menu mobile */
.item-menu-mobile a {
  color: var(--secundary); 
}

/* Estiliza o botão do menu mobile */
.btn-mobile {
  display: none; /* Esconde o botão por padrão */
  flex: none;
  border: none;
  border-radius: 10px;
  background: var(--primary);
  height: 40px;
  width: 40px;
  margin-left: 40px;
  cursor: pointer; /* Muda o cursor para pointer */
  z-index: 2; /* Define a ordem na pilha de elementos */
}

/* Centraliza a imagem dentro do botão mobile */
.btn-mobile img {
  display: flex;
  margin: 0 auto;
}

/* Estilos responsivos para telas menores */
@media (max-width: 1200px) {
  .menu {
    display: block; /* Exibe o menu como bloco */
    margin-right: 20px;
  }

  .menu li + li {
    margin-top: 20px; /* Adiciona margem superior */
    margin-left: 0px; /* Remove margem à esquerda */
  }

  .btns {
    display: flex !important;
  }

  .logo {
    margin-right: 60px; /* Adiciona margem à direita */
  }

  .header .btns {
    display: none !important; /* Esconde os botões */
  }

  .header .container {
    position: relative;
  }

  .header .container nav {
    display: none; /* Esconde a navegação */
    justify-content: center;
    position: absolute;
    right: 0px;
    top: 80px;
    width: 260px;
    z-index: 1;
    border-radius: 20px 0px 0px 20px !important;
    border-top: 2px solid var(--secundary);
    animation: animaMenu 0.2s forwards; /* Adiciona animação ao menu */
  }

  /* Animação para exibir o menu */
  @keyframes animaMenu {
    0% {
      opacity: 0;
      transform: translate3d(30px, 0px, 0px);
    }
    100% {
      opacity: 1;
      transform: translate3d(0px, 0px, 0px);
    }
  }

  .header .container nav .menu {
    background: var(--primary);
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    border-radius: 20px 0px 0px 20px !important;
  }
  
  .item-menu-mobile {
    display: block; /* Exibe o item do menu mobile */
  }

  .btn-mobile {
    display: block; /* Exibe o botão mobile */
  }

  .menu li a:hover, .menu-active {
    background: var(--secundary);
    transition: 0.3s;
  }
  
  .menu-active-contact {
    background: var(--secundary);
    color: var(--base) !important;
    transition: 0.3s;
  }

  .item-menu-mobile a:hover {
    color: var(--primary) !important;
  }
}

/* Estilos responsivos para telas muito menores */
@media (max-width: 640px) {
  .logo {
    display: block;
    max-width: 100%;
  }
}
